*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(255, 255, 255);  
}

body::-webkit-scrollbar{
    display: none;
}

/* -----------laptop------------------------ */

@media(min-width: 990px) {
    .header{
        width: 100%;
        padding: 0.4rem 10rem;
        background-color: rgb(231, 226, 220);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 9px 8px 10px rgb(231, 226, 220);
        margin-bottom: 50px; 
    }
    
    .header-flex1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    
    .header-h1{
        font-size: 1.8rem;
    }
    
    .header-links{
        display: flex;
        margin-bottom: 4px;
        align-items: center;
        gap: 15px;
    }
    
    .header-linklist{
        color: rgba(82, 78, 78, 0.925);
        text-decoration: none;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: -2px;  
    }
    
    .header-linklist:hover{
        color: black;
        font-weight: 300;
    }

    .header-flex2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .profile-name{
        font-size: 1.2rem;
        letter-spacing: 0px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .image{
      
    }
    
    .profile-img{
        border-radius: 50% !important;
    }

    /* -------------header section finished---------------- */
    
    /* main starts */

    .main1{
        width: 100%;
        height: 100vh;
        font-family:'Times New Roman', Times, serif;
    }

    .main{
        position: relative;
    }


    /* -----question-mark-button----- */
    .question-mark{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5rem 9rem;
    }

    .question-btn{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px ;
        position: fixed ;
        background-color: black;
        color: white;
    }



    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

    .main-cont{
        text-align: center;
        margin-top: 10px;
    }

    .m-cont-h1{
        font-size: 3rem;
        margin-bottom: 10px;
        font-style: serif;
    }

    .m-cont-span{
        color: rgb(224, 147, 3);
        font-weight: 600;
    }

    .m-cont-p{
        font-size: 1.6rem;
        font-weight: 100;
        /* font-family:'Times New Roman', Times, serif; */
    }

    .main-cont-btn{
        margin-top: 15px;
        padding: 15px 20px;
        font-size: 25px;
        background-color: black;
        border-radius: 8px;
        color: white;
    }

    .main-cont-btn:hover{
        box-shadow: 6px 6px 10px black;
        border: 0.8px solid white;
    }

    /*------------- main-cont1 -------------*/

    .main-cont1{
        text-align: center;
        margin-top: 6rem;
        font-family:'Times New Roman', Times, serif;
    }

    .m-cont1-h1{
        font-size: 2.8rem;
        padding-bottom: 10px;
    }

    .m-cont1-p{
        font-size: 1.8rem;
        font-family:'Times New Roman', Times, serif serif;
        padding-bottom: 10px;

    }

    /* -----------card---------------- */

    .card{
        margin-top: 3rem;
        width: 100%;
    }

    .card-flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-cont{
        width: 20rem;
        height: 18rem;
        border-radius: 10px;
        box-shadow: 8px 8px 10px grey;
        margin-bottom: 3rem;
    }

    .card-img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-content{
        padding-left: 10px;
        padding-top: 10px;
    }

    .card-content-p{
        font-size: 18px;
        margin: 5px 0px;
        line-height: 1.5rem;
    }

    .card2{
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 5rem;
    }

    .card2-con img{
        width: 10rem;
    }

    .card2-content{
        text-align: center;
    }

    .card-cont-h1{
        font-size: 2.8rem;
        padding-bottom: 5px;
    }

    .car-con-p{
        font-size: 1.8rem;
    }

    /*---------- flex start ------*/
    
    .flex{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 0px 10rem;   
    }

    .flex-item{
        
    }

    .item1-box1{
        font-size: 1.5rem;
        border: 1px solid grey;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(234, 232, 240, 0.774);
    }

    .item1-box2{
        font-size: 1.5rem;
        border: 1px solid grey;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(236, 232, 227, 0.705);
    }

    .item2-box1{
        font-size: 1.5rem;
        border: 1px solid grey;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(233, 224, 224, 0.658);      
    }

    .item2-box2{
        font-size: 1.5rem;
        border: 1px solid grey;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 40px; 
        background-color: rgba(228, 236, 236, 0.822); 
    }

    .item3-box1{
        font-size: 1.5rem;
        border: 1px solid grey;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(241, 248, 243);
    }

    .item3-box2{
        font-size: 1.5rem;
        border: 1px solid grey;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 40px;
        background-color:rgb(241, 235, 235);  
    }

    /* --------online----------------------- */
    .online{
        margin-top: 5rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    .online-img{
        width: 30rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    .online-cont{
        margin-bottom: 4rem;
    }

    .online-h1{
        font-size: 2.6rem;
        margin-bottom: 12px;
    }

    .online-p{
        font-size: 1.7rem;
    }

    .online-btn{
        padding: 15px 20px;
        font-size: 1.5rem;
        background-color: black;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        
    }

    .online-btn:hover{
        box-shadow: 4px 4px 6px black;
        border: 0.6px solid white;
    }

    /* ------------footer -------------------*/
    .footer{
        width: 100%;
        padding: 2rem 5rem;
        
    }
    .list{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .list-items{
        margin-left: 4rem;
    }

    .list-items a{
        margin-right: 20px;
        font-size: 1.3rem;
        color: black;
        text-decoration: none;
    }

    .list-items a:hover{
        text-decoration: underline;
    }
    .logo-img{
        width: 40px;
    }

    .link-logo{
        margin-right: 3.5rem;
        
    }

    .link-logo a{
        margin-right: 20px;
        border-radius: 50%;
    }

    .logo-img{
        border-radius: 50%;
    }

    .link-logo a:hover{
        box-shadow: 10px 10px 9px black;
    }

}

/* ------------------ laptop end---------------- */


/* -----------------mobile screen---------------- */

@media(max-width: 587px){

.header{
    padding: 10px 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between
}

.header-links{
    display: none;
}

.header-flex2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-name{
    display: none;
}

.profile-img{
    border-radius: 50%;
}

/* <!-- main content --> */

.main1{
 padding: 5px 30px;
 text-align: center;
 position: relative;
 margin-top: 20px;
}

.main{
    
}

.m-cont-h1{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.m-cont-p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-cont-btn{
    padding: 15px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.main-cont-btn:hover{
    box-shadow: 5px 5px 9px black;
    border: 0.5px solid white;
}

.question-mark{
    display: none;
}

.m-cont1-h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.m-cont1-p{
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

/* ---------card--------------------- */
.card{
    width: 100%;
    margin-bottom: 4rem;
}

.card-flex{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.card-cont{
    width: 70%;
    height: 18rem;
    border-radius: 10px;
    
    box-shadow: 6px 6px 9px grey;
}

.card-img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-content-h1{
    margin-top: 10px;
    margin-bottom: 8px;
}

/*-------------- card2---------------- */
.card2-con img{
    margin-bottom: 2rem;
    width: 10rem;
}

.card2-content{

}

.card-cont-h1{
    font-size: 2.3rem;
    margin-bottom: 0.6rem;
}

.car-con-p{
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.flex{
    margin-bottom: 0rem;
}

.item1-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 5rem;
    
}

.flex-profile{
    text-align: left;
    padding-left: 1rem;
    font-size: 1.5rem;   
}

.item1-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item2-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item2-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item3-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    /* background-color: rgba(241, 233, 233, 0.733); */
}

.item2-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item3-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item3-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}


/* ------online------------- */

.online{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.online-img{
    margin-bottom: 2rem;
    width: 30rem;
}

.online-h1{
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}
.online-p{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.online-btn{
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.online-btn:hover{
    box-shadow: 5px 5px 6px black;
    border: 0.5px solid white;
}

/* ------footer-item-------- */
.list-items{
    margin-bottom: 2rem;
}

.list-items a{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.list-items a:hover{
    text-decoration: underline;
}

.link-logo{
    margin-bottom: 2rem;
}

.link-logo a{
    margin-right: 20px;
}

.logo-img{
    width: 2rem;

}
}








/* ------------Tab------------------------- */
@media (min-width: 587px) and (max-width: 989px){

    .header{
        width: 100%;
        padding: 0.4rem 2rem;
        background-color: rgb(231, 226, 220);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 9px 8px 10px rgb(231, 226, 220);
        margin-bottom: 10px; 
    }
    
    .header-flex1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .header-h1{
        font-size: 1.3rem;
    }
    
    .header-links{
        display: block;
        margin-bottom: 0px;
        align-items: center;
        gap: 10px;
    }
    
    .header-linklist{
        color: rgba(82, 78, 78, 0.925);
        text-decoration: none;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: -2px;  
    }
    
    .header-linklist:hover{
        color: black;
        font-weight: 300;
    }

    .header-flex2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .profile-name{
        font-size: 1rem;
        letter-spacing: 0px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .image{
      
    }
    
    .profile-img{
        border-radius: 50% !important;
    }


    /* -------------header section finished---------------- */
    
    /* main starts */

    .main1{
        padding: 0rem 2rem;
        width: 100%;
        height: 100vh;
        font-family:'Times New Roman', Times, serif;
    }

    .main{
        position: relative;
    }


    /* -----question-mark-button----- */
    .question-mark{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5rem 9rem;
        display: none;
    }

    .question-btn{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px ;
        position: fixed ;
        background-color: black;
        color: white;
    }



    .main-img{
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

    .main-cont{
        text-align: center;
        margin-top: 3px;
    }

    .m-cont-h1{
        font-size: 2.6rem;
        margin-bottom: 15px;
        font-style: serif;
    }

    .m-cont-span{
        color: rgb(224, 147, 3);
        font-weight: 600;
        font-size: 2.6rem;
    }

    .m-cont-p{
        font-size: 1.6rem;
        font-weight: 100;
        /* font-family:'Times New Roman', Times, serif; */
    }

    .main-cont-btn{
        margin-top: 15px;
        padding: 15px 20px;
        font-size: 25px;
        background-color: black;
        border-radius: 8px;
        color: white;
    }

    .main-cont-btn:hover{
        box-shadow: 6px 6px 10px black;
        border: 0.8px solid white;
    }


    /*------------- main-cont1 -------------*/

    .main-cont1{
        text-align: center;
        margin-top: 6rem;
        font-family:'Times New Roman', Times, serif;
    }

    .m-cont1-h1{
        font-size: 2.8rem;
        padding-bottom: 10px;
    }

    .m-cont1-p{
        font-size: 1.8rem;
        font-family:'Times New Roman', Times, serif serif;
        padding-bottom: 10px;
    }

    .card{
        margin-top: 3rem;
        width: 100%;
    }

    .card-flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-cont{
        width: 20rem;
        height: 18rem;
        border-radius: 10px;
        box-shadow: 8px 8px 10px grey;
        margin-bottom: 3rem;
    }

    .card-img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-content{
        padding-left: 10px;
        padding-top: 10px;
    }

    .card-content-p{
        font-size: 18px;
        margin: 5px 0px;
        line-height: 1.5rem;
    }

    .card2{
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 5rem;
    }

    .card2-con img{
        width: 15rem;
    }

    .card2-content{
        text-align: center;
    }

    .card-cont-h1{
        font-size: 2.8rem;
        padding-bottom: 5px;
    }

    .car-con-p{
        font-size: 1.8rem;
    }

    
.flex{
    margin-bottom: 0rem;
}

.item1-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 5rem;
    
}

.flex-profile{
    text-align: left;
    padding-left: 1rem;
    font-size: 1.5rem;   
}

.item1-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item2-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item2-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item3-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    /* background-color: rgba(241, 233, 233, 0.733); */
}

.item2-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item3-box1{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.item3-box2{
    width: 100%;
    border: 1px solid rgb(240, 233, 233);
    font-size: 1.6rem;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.online{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.online-img{
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.online-cont{
    margin-bottom: 4rem;
}

.online-h1{
    font-size: 2.6rem;
    margin-bottom: 12px;
}

.online-p{
    font-size: 1.7rem;
}

.online-btn{
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}

.online-btn:hover{
    box-shadow: 4px 4px 6px black;
    border: 0.6px solid white;
}
    

/* ------------footer -------------------*/
.footer{
    width: 100%;
    padding: 2rem 5rem;
    text-align: center;
    
}
.list{
    display: block;
    align-items: center;
    justify-content: center;
}

.list-items{
    margin-left: 0rem;
    margin-bottom: 1rem;
}

.list-items a{
    margin-right: 20px;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.list-items a:hover{
    text-decoration: underline;
}
.logo-img{
    width: 40px;
}

.link-logo{
    margin-right: 3.5rem;
}

.link-logo a{
    margin-right: 20px;
    border-radius: 50%;
}

.logo-img{
    border-radius: 50%;
}

.link-logo a:hover{
    box-shadow: 10px 10px 9px black;
}

}

/* ------------------ Tab end---------------- */
